<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - ColdTrack</title>
    <link rel="stylesheet" th:href="@{/css/cadastroLogin.css}">
</head>
<body>
    <div class="div-principal">
        <div class="img-div">
            <img class="imagem-grande" th:src="@{/img/login.png}" alt="Side Image">
        </div>

        <form th:action="@{/cadastro}" th:object="${usuarioDto}" method="post">
            <div class="cadastro-div">
                <img class="logo" th:src="@{/img/Logo ColdTrack.png}" alt="Logo">
                
                <div th:if="${error}" style="color: red; text-align: center; margin-bottom: 10px;">
                    <p th:text="${errorMessage}" style="font-size: 14px; margin: 0; width: auto; height: auto; display: inline;"></p>
                </div>

                <input type="text" placeholder="Nome" th:field="*{nome}" required>
                <input type="email" placeholder="Email" th:field="*{email}" required>
                <input type="password" placeholder="Senha" th:field="*{senha}" required> 
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</body>
</html>