<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColdTrack - Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/cadastroLogin.css}">
</head>
<body>
    <div class="div-principal">
        <div class="img-div">
            <img class="imagem-grande" th:src="@{/img/login.png}" alt="Login Imagem">
        </div>

        <form method="post" th:action="@{/cadastro}" th:object="${usuarioDto}">
            <div class="cadastro-div">
                <img class="logo" th:src="@{/img/Logo ColdTrack.png}" alt="Logo">

                <div th:if="${error}" style="color: red; margin-bottom: 15px;">
                    <span th:text="${errorMessage}">Erro ao cadastrar</span>
                </div>

                <input type="text" placeholder="Nome" required th:field="*{nome}">
                <input type="email" placeholder="Email" required th:field="*{email}">
                <input type="password" placeholder="Senha" required th:field="*{senha}"> 
                <button type="submit">Cadastrar</button>
                
                <a th:href="@{/login}" style="margin-top: 10px; display: block; text-align: center; color: white;">Já tenho uma conta</a>
            </div>
        </form>
    </div>
</body>
</html>