<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto - ColdTrack</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/produtocadastro.css}"/>
</head>
<body>
    <header th:replace="~{navbar :: header}"></header>

    <div class="title-div">
        <h6 class="title">Atualização do produto</h6>
    </div> 
    
    <div class="form-div">
        <form th:action="@{/produto/atualizar/{id}(id=${produtoDto.id})}" th:object="${produtoDto}" method="post">
            <input type="hidden" th:field="*{id}" />
            <p>Nome do produto</p>
            <input type="text" th:field="*{nome}" required>
            
            <p>Data de Validade</p>
            <input type="date" th:field="*{dataValidade}" required>
            
            <p>Temperatura Mínima</p>
            <input type="number" step="0.1" th:field="*{temperaturaMinima}" required>
            
            <p>Temperatura Máxima</p>
            <input type="number" step="0.1" th:field="*{temperaturaMaxima}" required>
            
            <p>Selecione o Refrigerador que o produto está armazenado</p>
            <select th:field="*{freezerId}" required>
                <option value="">Selecione um refrigerador</option>
                <option th:each="freezer : ${listaFreezers}" 
                        th:value="${freezer.id}" 
                        th:text="${freezer.nome}"></option>
            </select>
            
            <button type="submit">Atualizar</button>
        </form>
    </div>
</body>
</html>
